
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="c:\users\feyza\source\repos\svolkancav\mvc_hamburgerciprojesi\mvc_hamburgerciprojesi\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <H2>Aktivasyon İşleminiz Başarılı </H2>
  
    </form>

</div>
